<div>
  <h1>About
  </h1>
</div>
<div>
  <p>
    The purpose of this website is to serve as a venue through which people can connect with local tour guides, without concerns about the authneticity and
  </p>
</div>
